<%= form_for @spree_admin_post, html: { multipart: true }, :url => admin_post_path(@spree_admin_post) do |f| %>
  <% if @spree_admin_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spree_admin_post.errors.count, "error") %> prohibited this spree_post from being saved:</h2>

      <ul>
      <% @spree_admin_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div class="row">

      <div class="col-md-9" data-hook="admin_product_form_left">

        <div>
          <%= f.field_container :title, class: ['form-group'] do %>
            <%= f.label :title, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required')) %>
            <%= f.text_field :title, class: 'form-control title' %>
          <% end %>
        </div>

        <div>
          <%= f.field_container :slug, class: ['form-group'] do %>
            <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *', class: "required")) %>
            <%= f.text_field :slug, class: 'form-control title' %>
            <%= f.error_message_on :slug %>
          <% end %>
        </div>

        <div>
            <%= f.label :content, Spree.t(:content) %>
            <%= f.cktext_area :content, rows: 10 %>
        </div>


          <div data-hook="admin_product_form_meta_title">
            <%= f.field_container :meta_title, class: ['form-group'] do %>
              <%= f.label :meta_title, Spree.t(:meta_title) %>
              <%= f.text_field :meta_title, class: 'form-control' %>
            <% end %>
          </div>

          <div data-hook="admin_product_form_meta_keywords">
            <%= f.field_container :meta_keywords, class: ['form-group'] do %>
              <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
              <%= f.text_field :meta_keywords, class: 'form-control' %>
            <% end %>
          </div>

          <div data-hook="admin_product_form_meta_description">
            <%= f.field_container :meta_description, class: ['form-group'] do %>
              <%= f.label :meta_description, Spree.t(:meta_description) %>
              <%= f.text_field :meta_description, class: 'form-control' %>
            <% end %>
          </div>

        

      </div>

    <div class="col-md-3" data-hook="admin_product_form_right">

        <div>
          <%= f.field_container :post_image, class: ['form-group'] do %>
            <%= f.label Spree.t(:image) %><br>
            <%= f.file_field :post_image %>
            <%= f.error_message_on :post_image %>
          <% end %>
        </div>

        <%= f.field_container :category, class: ['form-group'] do %>
          <%= f.label :category %>
          <%= f.select :category_id, @categories, selected: @spree_admin_post.category_id %>
        <% end %>
        
        <%= f.field_container :tags, class: ['form-group'] do %>
          <%= f.label :tags %>
          <%= f.hidden_field :tags, value: @tags %>
        <% end %>

    </div>



</div>
</div>


   <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <i class="icon-ok icon-white"></i> Actualizar
    <% end %>





<% end %>