<p id="notice"><%= notice %></p>

<h1>Listing Spree Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_admin_posts.each do |spree_post| %>
      <tr>
        <td><%= spree_post.title %></td>
        <td><%= raw(spree_post.content) %></td>
        <td><%= link_to 'Show', admin_post_path(spree_post) %></td>
        <td><%= link_to 'Edit', edit_admin_post_path(spree_post) %></td>
        <td><%= link_to 'Destroy', admin_post_path(spree_post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_admin_post_path %>
