<p id="notice"><%= notice %></p>
<div class="content-header page-header">
    <div class="row">
        <h1 class="col-sm-6">
            Blog
        </h1>

        <div class="page-actions col-sm-6" data-hook="toolbar">
              <%= link_to(new_admin_post_path, class: "btn btn-success") do %> 
                <span class="icon icon-add"></span> Novo Artigo</a>
              <% end %>
        </div>

    </div>
  </div>


<table class="table" id="listing_products">
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th><%= Spree.t(:image) %></th>
        <th><%= Spree.t(:title) %></th>
        <th class="text-center">Available</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @spree_admin_posts.each do |post| %>
          <tr>
            <td class="image"><%= image_tag(post.post_image.url(:mini)) %></td>
            <td class="status"><%= post.title %> </td>
            <td class="text-center"><%= check_box_tag 'accept' %></td>
              <td class=" text-center actions actions-3">
                  <%= link_to(post_path(post), class: "btn btn-primary btn-sm icon-link with-tip action-edit no-text") do %>
                        <span class="icon icon-eye-open"></span> 
                  <% end %>
                  
                  <%= link_to(edit_admin_post_path(post), class: "btn btn-primary btn-sm icon-link with-tip action-edit no-text") do %>
                        <span class="icon icon-edit"></span> 
                  <% end %>
                  
                  <%= link_to(admin_post_path(post), class: "btn btn-danger delete-resource btn-sm icon-link with-tip action-delete no-text", method: :delete, data: { confirm: 'Are you sure?' }) do %>
                        <span class="icon icon-delete"></span> 
                  <% end %>
              </td>
          </tr>
      <% end %>
    </tbody>
</table>
